<%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>
            <h1>About</h1>
            <section>
                <% if (news.length> 0) { %>

                    <% news.forEach(el=> { %>
                        <article>
                            <h2>
                                <%=el.title %>
                            </h2>
                            <a href=<%=el.url %> target=_blank> <img src=<%=el.urlToImage %> alt="img"></a>
                            <p>
                                <%= el.content %>
                            </p>
                        </article>
                        <% }) %>
                            <% } %>
            </section>
    </body>

    </html>